@layout LoginLayout
@page "/unauthorized"

<div class="d-flex justify-space-around vh-100 align-items-center">
    <MudPaper Class="p-5" Elevation="4">
        <MudAlert Severity="Severity.Error">Application is not authorised to use. Please contact administrator.</MudAlert>

    </MudPaper>
</div>
@code {

}
