
<div class="mb-3">
    <MudLink Href="@Href" Typo="Typo.subtitle2"><MudIcon Icon="@Icons.Filled.ArrowBack" Class="me-1" />go back</MudLink>
</div>

@code {

    [Parameter]
    public string Href { get; set; }
}
